Repository juliolmuller/proffy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix, prettier --write

Notes added by 'git notes add'
  50b12dd9ef3fefe84f27add43e20b52e387f69d0
Due: none

chore(web): update dependencies to latest versions
  .gitignore
  pnpm-lock.yaml
  web/next-env.d.ts
  web/tsconfig.json
Due: eslint --config web/eslint.config.js --fix

feat(mobile): upgrade Expo SDK to v56
  mobile/app.config.ts
  mobile/package.json
  mobile/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

chore(mobile): fix linter
  mobile/.eslintrc.js
  mobile/eslint.config.mjs
Due: eslint --config mobile/eslint.config.mjs --fix

style(mobile): lint source code
  mobile/package.json
  mobile/src/App.tsx
  mobile/src/components/PageHeader/index.tsx
  mobile/src/components/PageHeader/styles.ts
  mobile/src/components/TeacherCard/index.tsx
  mobile/src/components/TeacherCard/styles.ts
  mobile/src/main.ts
  mobile/src/navigation/AppStack.tsx
  mobile/src/navigation/StudyTabs.tsx
  mobile/src/navigation/index.ts
  mobile/src/screens/Favorites/index.tsx
  mobile/src/screens/Favorites/styles.ts
  mobile/src/screens/Landing/index.tsx
  mobile/src/screens/Landing/styles.ts
  mobile/src/screens/TeacherForm/index.tsx
  mobile/src/screens/TeacherForm/styles.ts
  mobile/src/screens/TeachersList/form-data.ts
  mobile/src/screens/TeachersList/index.tsx
  mobile/src/screens/TeachersList/styles.ts
  mobile/src/services/http.ts
  mobile/src/types.d.ts
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  5689a00006cb52a26813dd0d48ff41f6f2aa79b2
Due: none

chore(deps): upgrade dev dependencies to latest version
  mobile/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  790768913ce763a90ab1c396234f088ed9a9b793
Due: none

chore(deps): fix vulnerable packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  0e51a1bf66681ca739c81179aa809aab088c0297
Due: none

chore(deps): fix lockfile
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  15598494700050df51960f0ca9f73f05e5058223
Due: none

chore(mobile): update PNPM version to align with project's
  mobile/eas.json
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  d1d6b2196e9181056cabe69c803e39608a65194a
Due: none

chore(mobile): update EAS CLI version
  mobile/eas.json
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  4eac68f652cb1fefe1e2ae19c330ac91c74d8da7
Due: none

chore: remove old PNPM configs
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  7cbeaff2ccd58775a506f93651653b57c930f310
Due: none

Path conditions:
  eslint --config server/eslint.config.mjs --fix: any of: server/**/*.{js,cjs,mjs,ts,mts,json}
  eslint --config mobile/eslint.config.mjs --fix: any of: mobile/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  eslint --config web/eslint.config.js --fix: any of: web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  prettier --write: any of: *.{css,sass,scss}
