Repository juliolmuller/proffy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix, prettier --write

build(web): disable linting on build process
  web/next.config.ts
Due: eslint --config web/eslint.config.js --fix

revert: undo: disable linting on build
  web/next.config.ts
Due: eslint --config web/eslint.config.js --fix

fix(web): fix components props types
  web/src/components/Header/index.tsx
  web/src/components/Input/index.tsx
  web/src/components/Select/index.tsx
  web/src/components/TextArea/index.tsx
Due: eslint --config web/eslint.config.js --fix

chore: update dev dependencies
  mobile/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix

chore(mobile): remove unused Babel config file
  mobile/babel.config.js
Due: eslint --config mobile/eslint.config.mjs --fix

chore(server): update default env vars
  server/.env.example
Due: none

chore(web): update default env vars
  web/.env.example
Due: none

refactor(mobile): use native Expo's env vars
  mobile/.env.example
  mobile/app.config.ts
  mobile/package.json
  mobile/src/services/http.ts
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

chore(mobile): set dev client
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

docs: update images sources
  .github/logo.svg
  .github/overview.png
  README.md
Due: none

chore(mobile): remove unused SVG parsing config
  mobile/metro.config.js
Due: eslint --config mobile/eslint.config.mjs --fix

chore(mobile): update TS config file
  mobile/tsconfig.json
Due: eslint --config mobile/eslint.config.mjs --fix

refactor(mobile): update codebase with recent libs API changes
  mobile/src/App.tsx
  mobile/src/components/PageHeader/index.tsx
  mobile/src/components/TeacherCard/index.tsx
  mobile/src/components/index.ts
  mobile/src/main.js
  mobile/src/navigation/AppStack.tsx
  mobile/src/navigation/StudyTabs.tsx
  mobile/src/navigation/index.ts
  mobile/src/screens/Favorites/index.tsx
  mobile/src/screens/Landing/index.tsx
  mobile/src/screens/TeacherForm/index.tsx
  mobile/src/screens/TeachersList/index.tsx
  mobile/src/screens/index.ts
Due: eslint --config mobile/eslint.config.mjs --fix

chore: update package manager version
  package.json
Due: none

chore(mobile): update overall dependencies
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

chore(server): update overall dependencies
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore(mobile): update overall dependencies
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

chore: update default env vars
  mobile/.env.example
  server/.env.example
  web/.env.example
  web/package.json
Due: eslint --config web/eslint.config.js --fix

refactor(mobile): update entrypoint
  mobile/package.json
  mobile/src/main.js
  mobile/src/main.ts
Due: eslint --config mobile/eslint.config.mjs --fix

build(mobile): use PNPM as package manager
  mobile/eas.json
Due: eslint --config mobile/eslint.config.mjs --fix

build(mobile): define PNPM as package manager in EAS
  mobile/eas.json
Due: eslint --config mobile/eslint.config.mjs --fix

chore: omit package manager option in root `package.json`
  package.json
Due: none

fix(mobile): fix adaptive icon reference
  mobile/app.config.ts
Due: eslint --config mobile/eslint.config.mjs --fix

build(mobile): update EAS min version
  mobile/eas.json
Due: eslint --config mobile/eslint.config.mjs --fix

build(mobile): attempt to explicit package manager
  mobile/eas.json
  package.json
Due: eslint --config mobile/eslint.config.mjs --fix

chore: explicit package manager in all workspaces
  mobile/package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix

revert: undo explicit package manager
  mobile/package.json
  package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix

chore: remove forced linebreak in license text
  LICENSE
Due: none

chore: drop stale build script
  config.js
Due: none

chore: update husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .vscode/settings.json
Due: none

chore: drop unused dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(server): update deps to latest version
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: fix ESlint config file fore module
  .lintstagedrc
Due: none

chore(web): update deps to latest version
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

refactor(web): lint source code
  web/src/pages/_app.tsx
  web/src/pages/_document.tsx
Due: eslint --config web/eslint.config.js --fix

chore(mobile): update deps to latest version
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

chore: update deps to latest version
  package.json
  pnpm-lock.yaml
Due: none

chore: assign PR to author whenever it is open
  .github/workflows/pr-author-assign.yml
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: fix React typing dependency in `web`
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

Path conditions:
  eslint --config server/eslint.config.mjs --fix: any of: server/**/*.{js,cjs,mjs,ts,mts,json}
  eslint --config mobile/eslint.config.mjs --fix: any of: mobile/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  eslint --config web/eslint.config.js --fix: any of: web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  prettier --write: any of: *.{css,sass,scss}
