Repository juliolmuller/proffy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix, prettier --write

ci: configure workflow to set version tags/releases in the project
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
  .releaserc
  package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  a32f76d7c28c1073cc211d9e95af7e9f1f09d6c4
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore(web): update overall deps
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

chore: upgrade deps to latest version
  package.json
  pnpm-lock.yaml
Due: none

chore(web): upgrade Next.js to latest version
  pnpm-lock.yaml
  web/eslint.config.mjs
  web/next-env.d.ts
  web/package.json
  web/tsconfig.json
Due: eslint --config web/eslint.config.js --fix

Notes added by 'git notes add'
  73751b50b92204c75f73f3d61f913eee97de66dd
Due: none

chore: set versions to "auto" due to release automation
  mobile/package.json
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix

chore(deps): update overall dependencies to latest versions
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  0afb0e1dfec012a5ad79199930e0acf71b45ec95
Due: none

chore(mobile): update overall dependencies to latest versions
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  9a3ce4673dfa51050e96659062076408fdf08b3d
Due: none

chore(mobile): update dependencies according to Expo CLI
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  7246242d717cd60491862d4a51c335c83d11457f
Due: none

chore: update overall dependencies
  package.json
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

Notes added by 'git notes add'
  1d8900f7209d09e61f1ea7c953a9ad7dd94865f1
Due: none

build(server): change target ES version
  server/tsconfig.json
Due: eslint --config server/eslint.config.mjs --fix

chore(server): drop unused dependency
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

Notes added by 'git notes add'
  a7880dbd2d6b97e747c3cff427fd158cb9e938c3
Due: none

chore: update overall dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(mobile): update overall dependencies
  mobile/package.json
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

chore(web): update overall dependencies
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

chore(server): update overall dependencies
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

chore: update overall dependencies
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

Notes added by 'git notes add'
  1bd2b12ae5a0dd822cab2bf688f1be35574541e2
Due: none

chore: safely upgrade project dependencies
  mobile/package.json
  package.json
  pnpm-lock.yaml
  server/package.json
  web/package.json
Due: eslint --config server/eslint.config.mjs --fix, eslint --config mobile/eslint.config.mjs --fix, eslint --config web/eslint.config.js --fix

chore(mobile): upgrade overall dependencies
  mobile/package.json
  mobile/pnpm-lock.yaml
  pnpm-lock.yaml
Due: eslint --config mobile/eslint.config.mjs --fix

Notes added by 'git notes add'
  17c9f0a4fadfcea9fcd17d528d90b21ea01484b5
Due: none

chore: update license coverage period
  LICENSE
Due: none

ci: update external packages to latest versions
  .github/workflows/pr-author-assign.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  8b62a31c3492cb3d754fb3d6a0cc2e071d95dee8
Due: none

fix: fix dependencies vulnerabilities
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  c1ac95618c4e72de2d9c1fd777ec73f9673e0590
Due: none

chore: drop `overrides` options in PNPM installation
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Notes added by 'git notes add'
  963570a600c66d23f8700a5e4b7dcb46a03cac82
Due: none

chore: upgrade PNPM to v11
  package.json
  pnpm-workspace.yaml
Due: none

chore(deps): update dev dependencies to latest versions
  web/package.json
Due: eslint --config web/eslint.config.js --fix

chore(deps): update dependencies to latest versions
  pnpm-lock.yaml
  web/package.json
Due: eslint --config web/eslint.config.js --fix

chore(deps): update dependencies to latest versions
  pnpm-lock.yaml
  server/package.json
Due: eslint --config server/eslint.config.mjs --fix

feat(server): upgrade Prisma to v7
  pnpm-lock.yaml
  pnpm-workspace.yaml
  server/.env.example
  server/eslint.config.mjs
  server/package.json
  server/prisma.config.ts
  server/src/app/config.ts
  server/src/app/modules/classes/create/create-class-controller.ts
  server/src/app/modules/classes/list/list-classes-controller.ts
  server/src/app/modules/connections/count/count-connections-controller.ts
  server/src/app/modules/connections/create/create-connection-controller.ts
  server/src/database/connection.ts
  server/src/database/index.ts
  server/src/database/prisma/.gitignore
  server/src/database/prisma/client.ts
  server/src/database/prisma/config.ts
  server/src/database/prisma/index.ts
  server/src/database/prisma/migrations/20250430045237_migrate_schema/migration.sql
  server/src/database/prisma/migrations/20250430045312_migrate_data/migration.sql
  server/src/database/prisma/migrations/migration_lock.toml
  server/src/database/prisma/schema.prisma
Due: eslint --config server/eslint.config.mjs --fix

Path conditions:
  eslint --config server/eslint.config.mjs --fix: any of: server/**/*.{js,cjs,mjs,ts,mts,json}
  eslint --config mobile/eslint.config.mjs --fix: any of: mobile/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  eslint --config web/eslint.config.js --fix: any of: web/**/*.{js,cjs,mjs,jsx,mjsx,ts,mts,tsx,mtsx,json}
  prettier --write: any of: *.{css,sass,scss}
